*,html,body{
    margin: 0;
    padding: 0;
}
body{
    height: 3000px;
}
header{
    /* background-color: deepskyblue; */
    z-index: 1;
    position: fixed;
    width: 100%;
    /* line-height: 80px; */
}
.secondary{
    background-color: #96ba5a;
    box-shadow: 0px 0px 17px 0px;
    transition: all 0.5s ease-in;
    opacity: 0.9;
}
ul{
    list-style: none;
}
ul li{
    display: inline-block;
} 
.navbar{
    height: 65px;
}
/* .navbar-nav{
    margin-left: 75%;
}  */
@media (max-width: 800px) {
    /* .navbar-nav{
        margin-left: 0px;
    }  */
    .navbar{
        height: auto;
    }
    header{
        /* background-color: deepskyblue; */
        position: relative;
        width: 100%;
        background-color: deepskyblue;
        /* line-height: 80px; */
    }
}
.img1{
    background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.7)),url(..//img/foto1.jpg);
    background-size: 100% 100%;
}
.img2{
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.8)),url(..//img/foto2.jpg);
    background-size: 100% 100%;
}
.img3{
    background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.7)),url(..//img/foto3.jpg);
    background-size: 100% 100%;
}
.slider,.slider ul,.slider ul li{
    height: 710px;
    width: 100%;
    color: white;
    text-align: center;
}
.slider h2{
    font-weight: bold;
    margin-top: 250px;
}
.slider span{
    color: orange;
}
.slider a{
    padding: 10px 50px;
    margin-right: 10px;
}
.slider a.btn-half{
    background-color: deepskyblue;
    color: white;
    transition: 0.5s ease-in;
}
.slider a.btn-half:hover{
    background-color: dodgerblue;
}
.slider a.btn-full{
    background-color: orange;
    color: white;
    transition: 0.5s ease-in;
}
.slider a.btn-full:hover{
    background-color: darkorange;
}
.slider i{
    font-size: 35px;
    margin-right: 10px;
}
.intro-area{
    position: relative;
    padding: 100px 0px;
    text-align: center;
}
.sub-heading{
    position: relative;
    margin-bottom: 75px;
}
.sub-heading:before{
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -3%;
    width: 6%;
    height: 2px;
    background-color: deepskyblue;
    z-index: 1;
    -webkit-transition: 0.3s ease;
    -moz-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    -ms-transition: 0.3s ease;
    transition: 0.3s ease;
}
.sub-heading:hover:before{
    width: 24%;
    margin-left: -12px;
}
.sub-heading:after{
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -12%;
    width: 24%;
    height: 1px;
    background-color: #e1e1e1;
}
.sub-heading p{
    color: #818181;
    display: inline-block;
    padding: 0px 0px 20px;
    line-height: 24px;
    letter-spacing: 0.025em;
}